@charset "utf-8";

/*pc 셋팅*/

html {
    font-size: 20px;
    background: linear-gradient(90deg, rgba(15, 15, 16, 1), rgb(25, 25, 25), rgba(15, 15, 16, 1));
}

body {
    font-size: 1rem;
    font-family: 'Poppins';
}


.fp-auto-height #fp-nav{
    display:none;
}


/*category-wrap*/


.category-wrap {
    width:22.5rem;
    height:15rem;
    margin:2.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:8rem;
    left:.6rem;
    z-index: 1;
}

.category-name {
    position:absolute;
    top:0;
    left:3rem;
    color:#fff;
    font-size:1.5rem;
}

.category-wrap-tabmenu {
    width:100%;
    height:auto;
    position:absolute;
    left:3rem;
    bottom:0;
}

.category-wrap-tabmenu li {
    width:10rem;
}


.category-wrap-tabmenu li a{
    font-size:1rem;
    line-height:1.75rem;
    font-weight: bold;
    color:#fff;
}

.category-wrap-tabmenu li {
    position:relative;
}

.category-wrap-tabmenu li a {
    display: block;
}

.category-wrap-tabmenu li > a:active,.category-wrap-tabmenu li > a.active {
    padding-left:2rem;
}


.category-wrap-tabmenu li > a.active:before {
    content:" ";
    background:url(/image/store/tabmenu-before.png) no-repeat;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:0;
    width:1.5rem;
    height:.15rem;
}



/*section*/

 .items-wrap {
    width:75vw;
    height:100vh;
    float:right;
     position:relative;
}

 .section:nth-child(odd) .items-wrap {
     background:url(/image/store/items-wrap-background-white.jpg) no-repeat center / cover;
}

 .section:nth-child(even) .items-wrap {
     background:url(/image/store/items-wrap-background-black.jpg) no-repeat center / cover;
}


.section:nth-child(even) .items-wrap .cart-button {
    background:#fff;
    color:#252525;
}


.items-img {
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

/*goods-detail*/

.goods-detail-wrap{
    position:absolute;
    bottom:3rem;
    left:50%;
    transform:translateX(-50%);
    width:70%;
    height:7rem;
    z-index: 1;
}
.goods-detail{
    display: flex;
    position:relative;
    width:100%;
    height:100%;
}

.model-name {
    font-size:2rem;
    font-weight: bold;
    color:#fff;
    text-shadow: 2px 2px 6px rgba(139, 139, 139, 0.4);
}

.reviews-wrap {
    width:10.75rem;
    height:1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    bottom:3rem;
    left:0;
}

.reviews-text {
    font-size:.75rem;
    color:#fff;
    text-shadow: 2px 2px 6px rgba(139, 139, 139, 0.4);
}

.model-price {
    font-size:1rem;
    font-weight: bold;
    color:#fff;
    position:absolute;
    bottom:0;
    transform:translateY(-50%);
    left:0;
    text-shadow: 2px 2px 6px rgba(139, 139, 139, 0.4);
}

.cart-button {
    width:10rem;
    height:3rem;
    position:absolute;
    bottom:0;
    right:0;
    border:none;
    outline:none;
    font-size:.85rem;
    font-weight: bold;
    background:#252525;
    color:#fff;
    cursor: pointer;
}



/*items-wrap-slide*/

.goods-items01-01 {
    background: url(/image/store/items01-01.png) no-repeat center / contain;
}

.goods-items01-02 {
    background: url(/image/store/items01-02.png) no-repeat center / contain;
}

.goods-items01-03 {
    background: url(/image/store/items01-03.png) no-repeat center / contain;
}



.goods-items02-01 {
    background: url(/image/store/items02-01.png) no-repeat center / contain;
}

.goods-items02-02 {
    background: url(/image/store/items02-02.png) no-repeat center / contain;
}

.goods-items02-03 {
    background: url(/image/store/items02-03.png) no-repeat center / contain;
}


.goods-items03-01 {
    background: url(/image/store/items03-01.png) no-repeat center / contain;
}

.goods-items03-02 {
    background: url(/image/store/items03-02.png) no-repeat center / contain;
}

.goods-items03-03 {
    background: url(/image/store/items03-03.png) no-repeat center / contain;
}



.goods-items04-01 {
    background: url(/image/store/items04-01.png) no-repeat center / contain;
}

.goods-items04-02 {
    background: url(/image/store/items04-02.png) no-repeat center / contain;
}

.goods-items04-03 {
    background: url(/image/store/items04-03.png) no-repeat center / contain;
}



.goods-items05-01 {
    background: url(/image/store/items05-01.png) no-repeat center / contain;
}

.goods-items05-02 {
    background: url(/image/store/items05-02.png) no-repeat center / contain;
}

.goods-items05-03 {
    background: url(/image/store/items05-03.png) no-repeat center / contain;
}



.goods-items06-01 {
    background: url(/image/store/items06-01.png) no-repeat center / contain;
}

.goods-items06-02 {
    background: url(/image/store/items06-02.png) no-repeat center / contain;
}

.goods-items06-03 {
    background: url(/image/store/items06-03.png) no-repeat center / contain;
}


.goods-items07-01 {
    background: url(/image/store/items07-01.png) no-repeat center / contain;
}

.goods-items07-02 {
    background: url(/image/store/items07-02.png) no-repeat center / contain;
}

.goods-items07-03 {
    background: url(/image/store/items07-03.png) no-repeat center / contain;
}



