@charset "utf-8";

/*한글폰트*/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* full page 스크롤 컬러 */
#fp-nav ul li a span {
    background-color: #181818;
} 
