@charset "utf-8";

html {
    overflow-x: hidden;
}

.banner {
    width:100vw;
    height:100vh;
    background: url(../image/index/banner_img1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
}


.content {
    height:100rem;
}




