@charset "utf-8";

/*모바일 셋팅*/

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
}



/*배너이미지*/

.swiper-container {
    width:92vw;
    height:90vh;
    border-radius: 1.5rem;
}



.slider .swiper-slide > span{
    font-size:1rem;
    top:30%;
}

.title-pb{
    display: none;
}

.title-moblie{
    display: block;
}

.slider .swiper-slide > p{
    font-size:4.5rem;
    line-height:4.5rem;
    top:35%;
    -webkit-text-stroke: .05rem #fff;
}

.slider .swiper-slide > .c-text{
    font-size:3rem;
    line-height:3.5rem;
}

.slider .swiper-slide div{
    bottom:8%;
}

.slider .swiper-slide div > .goods-name{
    font-size:.9rem;
    line-height:2.5rem;
}

.swiper-button-prev:after,.swiper-button-next:after{
    display: none;
}

/*검색박스*/
.search-form{
    width:25rem;
    top:60%;
}

.search-form input {
    width: 20rem;
    text-indent: 1.5rem;
}