@charset "utf-8";

/*태블릿 셋팅*/

html {
    font-size: 20px;
}

body {
    font-size: 1rem;
}


/*content*/
.content {
    width: 93vw;
    position: relative;
}

.swiper-slide {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50%;
}


.content > p:first-child {
    display: block;
    font-size:1.5rem;
    padding-top:2.5rem;
    font-weight: 800;
}

.swiper-slide > div > a > .case-img{
    position: relative;
}

.swiper-slide > div > a > .case-img > p {
    display: block;
    width:200px;
    text-align: center;
    font-size:.8rem;
    font-weight: 800;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


/*store1*/


.store1 > div:nth-child(3) {
    display: none;
}

.store1 > div:nth-child(4) {
    order: 3;
}

.store1 > div:nth-child(5) {
    display: none;
}

.store1 > div:nth-child(6) {
    order: 4;
}

.store1 > div:nth-child(7) {
    display: none;
}

.store1 > div:nth-child(8) {
    order: 5;
}

.store1 div:nth-child(9) {
    grid-column: 3/4;
    order: 6;
}



.store1 > div:nth-child(1) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store1-01-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(2) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store1-02-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(4) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store1-04-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(6) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store1-06-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(8) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store1-08-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 85% center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(9) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store1-09-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right 10%;
    background-repeat: no-repeat;
}


/*store2*/

.store2 div:nth-child(2) {
    grid-row: 1/2;
}


.store2 > div:nth-child(3)  {
    display: none;

}

.store2 > div:nth-child(5) {
    order:4;
}

.store2 > div:nth-child(6) {
    display: none;
}

.store2 > div:nth-child(9) {
    display: none;
}



.store2 > div:nth-child(1) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store2-01-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(2) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store2-02-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(4) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store2-04-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(5) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store2-05-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(7) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store2-08-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(8) .case-img{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../image/index/content-store/store2-09-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

