@charset "utf-8";

.content0 {
    width: 100vw;
    height: 100vh;
}

/*pc 셋팅*/

html {
    font-size: 20px;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
}


/*banner*/

.banner {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(217deg, rgba(1, 1, 2, 0.8), rgba(91, 105, 115, 0) 70.71%),
        linear-gradient(127deg, rgba(13, 27, 38, 1), rgba(13, 27, 38, .3) 70.71%),
        linear-gradient(336deg, rgba(14, 15, 16, 0.8), rgba(177, 190, 201, 0) 70.71%);
    /*    background: linear-gradient(#0C1A25, #B1BFCA);*/
    position: absolute;
    left: 0;
    top: 0;
}


.swiper-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* #Slider
================================================== */


.swiper-main {
    position: relative;
    width: auto;
    display: block;
    overflow: hidden;
    height: 100%;
}


/* Case Study Showcase
================================================== */


/*case-study-wrapper*/

.case-study-wrapper {
    border:1px solid red;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 4;
    width: auto;
    -webkit-transform: translate(5%, -50%);
    transform: translate(5%, -50%);
}

.case-study-wrapper .case-study-name a {
    display: block;
    text-align: right;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: .05rem;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    opacity: 0.7;
    text-decoration: none;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.case-study-wrapper .case-study-name a:hover {
    text-decoration: none;
}

.case-study-wrapper .case-study-name.active a {
    opacity: 1;
    color: #fff;
    -webkit-text-stroke: none;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

/*case-study-goods*/

.case-study-goods {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.case-study-goods li {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.case-study-goods li .goods-text {
    position: absolute;
    top: 60%;
    right: 8%;
    width: 300px;
    height: 170px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
    overflow: hidden;
    opacity: 0;
    color: #fff;
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.case-study-goods li:nth-child(2) .goods-text {
    right: 15%;
    top: 55%;
}

.case-study-goods li:nth-child(3) .goods-text {
    color: #6a1217;
}

.case-study-goods li .goods-text .text-ex {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.case-study-goods li.show .goods-text {
    opacity: 1;
}

/*goods-button*/

.case-study-goods li .goods-text a {
    position: absolute;
    top: 80px;
    left: 0;
    width: 270px;
    height: 60px;
    background-color: #000;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
}

.case-study-goods li:last-child .goods-text a {
    background-color: #6a1217;
}

/*case-study-images*/

.case-study-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    z-index: 2;
    border:1px solid red;
}

.case-study-images li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.case-study-images li .img-hero-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.case-study-images li.show .img-hero-background {
    opacity: 1;
}

.case-study-images li .case-study-title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    opacity: 0;
    color: #fff;
    z-index: 19;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    font-style: italic;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.case-study-images li.show .case-study-title {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.case-study-images li .hero-number-back {
    position: absolute;
    top: 32%;
    left: 15%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    font-size: 18vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 1;
    color: rgba(255, 255, 255, .12);
    z-index: 1;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.case-study-images li:nth-child(3) .hero-number-back {
    color: rgba(255, 255, 255, .25);
}

.case-study-images li .hero-number {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 40px;
    margin-left: -70px;
    display: block;
    letter-spacing: 2px;
    text-align: center;
    opacity: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    z-index: 6;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}


.case-study-images li .hero-number-fixed {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: 30px;
    width: 40px;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    z-index: 6;
}

.case-study-images li .hero-number-fixed:before {
    position: absolute;
    content: '';
    top: 50%;
    left: -60px;
    width: 60px;
    height: 1px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

.case-study-images li.show .hero-number {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.case-study-images li.show .hero-number-back {
    opacity: 1;
}

.dark-over-hero {
/* 백그라운드 어둡게설정
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #050505;
    opacity: 0.25;
*/
}

/*
.case-study-images li:nth-child(1) .img-hero-background{
}
.case-study-images li:nth-child(2) .img-hero-background{
	background-image: url(../img/section0/case-study-images2.jpg);
    background-position:center 80%;
}
.case-study-images li:nth-child(3) .img-hero-background{
	background-image: url(../img/section0/case-study-images4.png);
    background-position:center bottom;}
*/


/*swiper-container*/

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}

.bg1:nth-child(1) {
    background: url(../image/banner/case-img-01-01.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;

}
.bg1:nth-child(2) {
    background: url(../image/banner/case-img-01-02.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg1:nth-child(3) {
    background: url(../image/banner/case-img-01-03.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}



.bg2:nth-child(1) {
    background: url(../image/banner/case-img-02-01.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;

}
.bg2:nth-child(2) {
    background: url(../image/banner/case-img-02-02.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg2:nth-child(3) {
    background: url(../image/banner/case-img-02-03.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}



.bg3:nth-child(1) {
    background: url(../image/banner/case-img-03-01.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;

}
.bg3:nth-child(2) {
    background: url(../image/banner/case-img-03-02.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg3:nth-child(3) {
    background: url(../image/banner/case-img-03-03.png);
    ==-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}

 


.swiper-button-next,.swiper-button-prev{
    border:1px solid red;
    z-index: 3;
}
.swiper-button-prev{
    left:20%;
}
.swiper-button-next{
    right:20%;
}