@charset "utf-8";

.content0 {
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
}

/*pc 셋팅*/

html {
    font-size: 20px;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
}


/*banner*/

.banner {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}


/*swiper-content-wrap*/
.swiper-content-wrap {
    width: 100%;
    height: 100%;
}

/*swiper-container*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

/*common*/

/*.banner-goods*/

.banner-goods {
    position: absolute;
    top: 10rem;
    right: 3rem;
    width: 23rem;
    height: 12.95rem;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

.banner-goods-wrap {
    width: 75%;
    height: 100%;
    background: rgba(15, 15, 16, 1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all .35s;
}


.banner-goods:hover .banner-goods-wrap {
    position: absolute;
    left: -75%;
}

.banner-goods-wrap div {
    width: 75%;
    height: 70%;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}

.banner-goods-wrap div p:first-child {
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: center;
    width: 2rem;
    height: 1.5rem;
}

.banner-goods-wrap div p:last-child {
    line-height: 1.25rem;
    font-weight: bold;
}

.banner-goods-wrap div p:last-child span {
    font-size: .75rem;
    font-weight: 300;
}

.banner-goods-wrap img {
    animation-duration: 1s;
    animation-name: img-next;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0 0 .5rem .5rem;
    opacity: .85;
}

/*banner-goods-wrap img*/

@keyframes img-next {
    from {
        margin-left: 5%;
    }

    to {
        margin-left: 0%;
    }
}

.background-goods {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.background-goods video {
    width:100%;
    height:100%;
}

.background-goods p {
    position:absolute;
    top:2rem;
    right:2rem;
    color:#fff;
    font-size:1.5rem;
    font-weight: bold;
}


.banner-content01 > .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(25, 25, 25, 0)), url(../image/banner/01-hero-mode-ii-desktop@1.41xV2.jpg) no-repeat center / cover;
    z-index: 1;
}

.banner-content02 > .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(16, 16, 16, 0.7), rgba(25, 25, 25, 0)), url(../image/banner/Monitor-II-ANC_PDP_Hero_Desktop.jpg) no-repeat center / cover;
    z-index: 1;
}

.banner-content03 > .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(16, 16, 16, 0.7), rgba(25, 25, 25, 0)), url(../image/banner/marshall-stockwell-ii-hero-Desktop@1.41x.jpg) no-repeat center / cover;
    z-index: 1;
}

.banner-title {
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    position: absolute;
    left: 10rem;
    top: 8rem;
    font-size: 10rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: .1rem rgba(255, 255, 255, .2);
    overflow: hidden;
    z-index: 1;
}




.banner-goods-text {
    width: 30rem;
    height: 13rem;
    position: absolute;
    top: 25rem;
    left: 10rem;
    transform: translateY(-45%);
    color: #fff;
    z-index: 1;
}

.banner-goods-text p {
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
}

.banner-goods-text span {
    font-size: 2.75rem;
    line-height: 2.75rem;
    font-weight: bold;
}

.banner-goods-text button {
    border: 1px solid #fff;
    background: none;
    width: 10rem;
    height: 2.5rem;
    font-weight: bold;
    color: #fff;
    font-size: .75rem;
    letter-spacing: .05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10rem;
    cursor: pointer;
}
