@charset "utf-8";

/*pc 셋팅*/

html {
    font-size: 20px;
}

body {
    font-size: 1rem;
}

footer {
    width: 100%;
    height: 75vh;
    background: #000;
    display: flex;
    flex-direction: column;
}

.footer-top-wrap {
    width: 100%;
    height: 50vh;
    background: #000;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top {
    display: flex;
    width: 92.5vw;
    height: auto;
    justify-content: space-between;
}

.footer-top div {
    width: 30%;
    overflow: hidden;
}

.footer-top div p {
    font-size: 1rem;
    color: #fff;
    padding-bottom: 1.25rem;
}

.footer-top div span {
    font-size: .85rem;
    color: #959595;
}

.footer-top div ul li a {
    font-size: .75rem;
    color: #959595;
    line-height: 1.5rem;
}

.footer-top div ul li a:hover {
    text-decoration: underline;
}

.subscribe input {
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    text-indent: 1rem;
    margin: 5.25rem 0 1rem;
}

.subscribe button {
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    background: #222222;
    font-size: .85rem;
    font-weight: bold;
    color: #fff;
}


.footer-bottom-wrap {
    width: 100%;
    height: 25vh;
    background: #000;
    border-top: 1px solid #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bottom p {
    color: #898989;
    text-align: center;
    font-size: .75rem;

}

.safe-payments {
    width: 40%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.safe-payments img {
    width: 40px;
    height: 29px;
}
