@charset "utf-8";


@import url("reset.css");
/*리셋 공통 css*/

@import url("swiper-bundle.css");
/*슬라이더 공통 css*/

@import url("nav.css");
/*nav 공통 css*/

@import url("banner.css");

@import url("section.css");

@import url("footer.css");
/*footer 공통 css*/



/*한글폰트*/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}


/*영문폰트*/

/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Poppins-Medium.ttf');
    /* IE9 Compat Modes */
}
