@charset "utf-8";

/*pc 셋팅*/

html {
    font-size: 20px;
}

body {
    font-size: 1rem;
}

html {
    background: rgba(15, 15, 16, 1);
}

header {
    background: rgba(15, 15, 16, 0);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: relative;
    transition: all .35s;
}

/*scroll시 nav fixed*/


header.fixed1 {
    background: rgba(15, 15, 16, 1);
    width: 100%;
    height: 6rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}



/*nav-wrap*/

.nav-wrap {
    width: 92.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrap > div:nth-child(1) {
    flex: 1;
}

.nav-wrap > div:nth-child(2) {
    flex: 9;
}

.nav-wrap > div:nth-child(3) {
    align-items: flex-end;
}


/*nav search*/

.menu-icon ul {
    width: 22.5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon li:first-child {
    width: 17rem;
    height: 2rem;
    position: relative;
}

.menu-icon li {
    height: 1.25rem;
}

.search-form input {
    border: none;
    width: 17rem;
    background: rgba(255, 255, 255, .05);
    height: 2rem;
    border-radius: 10rem;
    text-indent: 1.25rem;
    letter-spacing: .1rem;
    outline: none;
    color: #fff;
}


.search-form input::placeholder {
    color: rgba(255, 255, 255, .5);
}

.search-form button {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.25rem;
    width: 1rem;
    height: 1rem;
}

/*menuicon*/

input[id="menuicon"] {
    display: none;
}

.total {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.total span {
    display: block;
    position: absolute;
    width: 100%;
    height: .15rem;
    background: rgba(255, 255, 255, 1);
    color: transparent;
    transition: all 0.5s;
    border-radius: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

.total span:before,
.total span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .15rem;
    background: rgba(255, 255, 255, 1);
    transition: all 0.5s;
    border-radius: .5rem;
}

.total span:before {
    top: -.5rem;
}

.total span:after {
    top: .5rem;
}

.total.on span {
    background: rgba(255, 255, 255, 0);
}

.total.on span:before {
    top: 0;
    transform: rotate(45deg);
}

.total.on span:after {
    top: 0;
    transform: rotate(-45deg);
}

/*checked*/
input[id="menuicon"]:checked + label {
    z-index: 2;
}

input[id="menuicon"]:checked + label span {
    background: #222;
}

input[id="menuicon"]:checked + label span:before {
    background: #fff;
}

input[id="menuicon"]:checked + label span:after {
    background: #fff;
}

input[id="menuicon"]:checked + label + .sidebar-wrap {
    display: block;
    
}


.sidebar-wrap {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
    overflow: hidden;
}

.sidebar {
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 16, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar > div {
    width: 85rem;
    height: 44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*sub-event*/
.sub-event {
    position:absolute;
    top:-25%;
}

.sub-event img {
    animation: rotate_image 25s linear infinite;
    transform-origin: 50% 50%;
}
 
 
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}
 

/*sub_language*/
.sub_language {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex: .5;
}

.sub_language > select {
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.sub_language > select > option {
    color: #252525;
    font-size: .75rem;
}

/*sub_menu*/
.sub_menu {
    width: 65rem;
    position:absolute;
    top:46%;
}

.sub_menu ul {
    display: flex;
    justify-content: space-between;
}

.sub_menu ul li {
    line-height: 3.5rem;
    text-align: center;
    width:100%;
}

.sub_menu ul li a {
    color: #fff;
    font-size: 2rem;
}


/*sub_menu-category*/

.sub_menu ul ul {
    width:15rem;
    display: none;
    background:rgba(255, 255, 255, .02);
}

.sub_menu ul li:hover ul {
    display: block;
    padding:1rem 0;
}

.sub_menu .sub_menu-category li {
    height:2.5rem;
    line-height:2.5rem;
}

.sub_menu .sub_menu-category li a{
    font-size:1rem;
    font-weight: 500;
}

/*sub_app-wrap*/
.sub_app-wrap{
    width:30rem;
    position:absolute;
    bottom:3rem;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:4.75rem;
}

.sub_app-wrap p{
    color:#fff;
    font-size:1rem;
}
.sub_app-wrap a{
}


/*fixed-wrap*/

.fixed-wrap {
    width: 3rem;
    height: 17rem;
    position: fixed;
    bottom: 2rem;
    right: 2.25rem;
    z-index: 2;
}

.fixed-top-btn {
    color: #fff;
    width: 3rem;
    height: 2rem;
    display: block;
    text-align: center;
    font-size: .8rem;
    font-weight: 800;
    cursor: pointer;
    opacity: 0.6;
    line-height: 1.5rem;
}

.fixed-icons::before {
    background: #fff;
    width: .05rem;
    height: 6rem;
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateY(-50%);
    content: "";
    opacity: 0.3;
}

.fixed-icons {
    width: 3rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.fixed-icons a {
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem 0;
    opacity: 0.6;

}

.icon-facebook {
    background: url(../image/icons/facebook_icons.png) no-repeat center / contain;
}

.icon-instagram {
    background: url(../image/icons/insta_icons.png) no-repeat center / contain;
}

.icon-pinterest {
    background: url(../image/icons/pinter_icons.png) no-repeat center / contain;
}
