@charset "utf-8";

/*pc 셋팅*/

html {
    font-size: 20px;
}

body {
    font-size: 1rem;
}

html {
    background-color:darkgray;
}

header {
    background: rgb(0, 0, 0, 0);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: relative;
}

/*scroll시 nav fixed*/

/*
.nav-wrap.fixed1 {
    background: rgb(0, 0, 0,1);
    height: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
*/


/*nav-wrap*/

.nav-wrap {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrap > div:nth-child(1) {    
    flex: 1;
}
.nav-wrap > div:nth-child(2) {    
    flex: 9;
}
.nav-wrap > div:nth-child(3) {    
    align-items: flex-end;
}

.menu-icon ul{
    width:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*menuicon*/

input[id="menuicon"] {display:none;}

.total {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.total span {
    display: block;
    position: absolute;
    width: 100%;
    height: .15rem;
    background: rgba(255,255,255,1);
    color: transparent;
    transition: all 0.5s;
    border-radius: .5rem;
    top:50%;
    transform: translateY(-50%);
}

.total span:before,
.total span:after {
    content: ""; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .15rem;
    background: rgba(255,255,255,1);
    transition: all 0.5s;
    border-radius: .5rem;
}

.total span:before {top: -.5rem;}
.total span:after {top: .5rem;}
.total.on span { background: rgba(255,255,255,0);}
.total.on span:before {top: 0; transform: rotate(45deg);}
.total.on span:after {top: 0; transform: rotate(-45deg);}

/*checked*/
input[id="menuicon"]:checked + label {z-index: 2;}
input[id="menuicon"]:checked + label span {background: #222;}
input[id="menuicon"]:checked + label span:before {background: #fff;}
input[id="menuicon"]:checked + label span:after {background: #fff;}
input[id="menuicon"]:checked + label + .sidebar-wrap {display: block;}

.sidebar-wrap{
    width:100%;
    height:100%;
    display: none;
    z-index: 10;
}

.sidebar {
    width: 100%;
    height: 100%;
    background: #151515;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar > div {
    width:85rem;
    height:45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
/*    background-color:red;*/
}

/*sub_language*/
.sub_language{
    width:100%;
    display: flex;
    justify-content: flex-end;
    flex:.5;
}

.sub_language > select {
    width:10rem;
    height:2rem;
    line-height:2rem;
    border:none;
    background-color:transparent;
    font-size: 1rem;
    font-weight: 500;
    color:#fff;
}

.sub_language > select > option {
    color:#252525;
    font-size: .75rem;
}

/*sub_menu*/
.sub_menu {
    width:50rem;
    flex:6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_menu ul li {
    line-height:3.5rem;
    text-align: center;
}

.sub_menu ul li a {
    color: #fff;
    font-size:2.25rem;
}

.sub_menu ul li a:hover{
    color: darkgrey;
    transition: all 0.5s;
}

/*sns_icon*/
.sns_icon {
    width:12.5rem;
    flex:.5;
}

.sns_icon ul{
    display: flex;
    justify-content: space-between;
}


