@charset "utf-8";

/* scroll시 nav fixed
.nav-wrap.fixed1 {
    background: rgba(255, 255, 255, 1);
    height: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 35;
    box-shadow: 0 0 0.1rem #cccccc;
} */
/* 
.nav-wrap.fixed1 > .nav-icons .menuicon > .user-x-icons {
    position: absolute;
    top: 1.3rem;
    right: 3.3rem;
} */

/*pc 셋팅*/

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
}

/*nav-wrap*/

.nav-wrap {
  background: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 35;
  box-shadow: 0 0 0.1rem #cccccc;
}

.nav-logo {
  padding: 0.3rem 0 0 2.5rem;
}

.nav-icons {
  padding-right: 2.5rem;
}

.nav-menu {
  display: flex;
}

.nav-menu > li {
  padding: 0.55rem 1.3rem;
  margin: 0.8rem 0.5rem;
  cursor: pointer;
  text-align: center;
}

.nav-menu li a {
  color: #252525;
  font-weight: bold;
  font-size: 0.7rem;
}

.nav-icons {
  display: flex;
}

.nav-icons li {
  padding: 0.25rem 0.75rem;
}

.total {
  display: none;
}

/*submenu-background*/

.menuicon-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.35s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

input[id="menuicon"]:checked ~ .menuicon-background {
  opacity: 1;
  visibility: visible;
}

/*menuicon*/

#menuicon {
  display: none;
}

input[id="menuicon"] + label {
  display: block;
  cursor: pointer;
}

input[id="menuicon"] + label > .user-icons {
  display: block;
}

input[id="menuicon"] + label > .user-x-icons {
  opacity: 0;
  position: absolute;
  top: 1.3rem;
  right: 2.3rem;
  cursor: pointer;
}

/*btn*/

input[id="menuicon"]:checked + label + div {
  right: 0;
}

input[id="menuicon"]:checked + label > .user-icons {
  z-index: -1;
}

input[id="menuicon"]:checked + label > .user-x-icons {
  z-index: 35;
  opacity: 1;
}

/*sidebar*/

.sidebar {
  width: 20rem;
  height: 100%;
  background-color: #151515;
  position: fixed;
  top: 0;
  right: -20rem;
  z-index: 15;
  transition: all 0.35s;
}

.sidebar > .side-nav {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  height: 42rem;
}

.sidebar h2 {
  color: #dddddd;
  font-size: 0.9rem;
  border-bottom: 0.075rem solid #cbcbcb;
  position: relative;
  cursor: pointer;
  height: 2rem;
  text-indent: 0.25rem;
}

/*cs*/

.sidebar .cs {
  position: absolute;
  bottom: 35%;
  width: 14rem;
}

.sidebar .cs-tell {
  position: absolute;
  bottom: 12%;
  color: #a2a2a2;
}

.sidebar .cs-tell span {
  font-size: 30px;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.sidebar .cs-tell p {
  font-size: 12px;
  line-height: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.sidebar h2 em {
  position: absolute;
  top: -25%;
  right: 10px;
  width: 10px;
  height: 10px;
  margin-top: 15px;
  display: inline-block;
  background: url(/image/icons/next.png) 0 0 no-repeat;
}

.sidebar ul > li > a {
  color: #9b9b9b;
  font-size: 0.65rem;
}

.sidebar ul > li {
  padding-bottom: 5px;
}

.sidebar ul > li:hover a {
  color: #fff;
  transition: all 0.35s;
}

/*sns-btn*/

.sns-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.sns-btn ul {
  display: flex;
  justify-content: space-between;
}

.sns-btn ul li img {
  width: 35px;
  height: 35px;
  opacity: 0.8;
}

/*title*/

input[id*="tit"] {
  display: none;
}

input[id*="tit"] + label {
  display: block;
  padding: 20px;
  border-top: 0.05rem solid #9d9d9d;
  color: #dbdbdb;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  position: relative;
}

input[id*="tit"] + label:first-child {
  border: none;
}

input[id*="tit"] + label em {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(/image/icons/plus.png) 0 0 no-repeat;
}

input[id*="tit"]:checked + label em {
  background: url(/image/icons/minus.png) 0 0 no-repeat;
  top: 58%;
  transform: translateY(-58%);
}

input[id*="tit"]:checked + label + div:nth-child(odd) {
  max-height: 150px;
}

input[id*="tit"]:checked + label + div:nth-child(even) {
  max-height: 200px;
}

input[id*="tit"] + label + div {
  max-height: 0;
  transition: all 0.35s;
  overflow: hidden;
}

input[id*="tit"] + label + div ul {
  display: inline-block;
  padding: 0 10px 10px;
  margin-bottom: 10px;
}

/*모바일*/

.top-btn-mobile {
  display: none;
}

.m-search-btn {
  display: none;
}

/*pc,태블릿*/

.fixed-btn {
  bottom: 15%;
  right: 1%;
  transform: translateY(-10%);
  z-index: 10;
  display: none;
}

.top-btn {
  cursor: pointer;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3rem;
  text-align: center;
  line-height: 3.25rem;
  box-shadow: 0 0 0.1rem #1c1c1c;
  background-color: #fff;
}

.search-btn {
  cursor: pointer;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3rem;
  text-align: center;
  line-height: 3.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 0 0.1rem #1c1c1c;
  background-color: #fff;
  position: relative;
}

.search-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixinner {
  position: fixed;
  display: block;
}
