@charset "utf-8";

/*pc 셋팅*/

html {
    font-size: 20px;
}

body {
    font-size: 1rem;
}


/*content*/

.content {
    width: 95vw;
    height: 100vh;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
}

/*모바일 content*/

.m-content {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: none;
}

.swiper-new {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    left: 0;
    overflow: hidden;
}

.swiper-new div {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(49.15%, auto);
    grid-gap: .75rem;
    overflow: hidden;
}

.content > p:first-child {
    display: none;
}


.case-img > p {
    display: none;
}


/*store1*/

.store1 div:nth-child(9) {
    grid-column: 4/6;
}

.store1 > div:nth-child(1) .case-img {
    background: url(/image/index/content-store/store1-01-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(1):hover .case-img {
    background: url(/image/index/content-store/store1-01-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(2) .case-img {
    background: url(/image/index/content-store/store1-02-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(2):hover .case-img {
    background: url(/image/index/content-store/store1-02-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(3) div {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store1 > div:nth-child(3) p {
    padding: 0 0 .5rem .5rem;
    font-weight: bold;
}

.store1 > div:nth-child(3) p:first-child {
    font-size: 10rem;
}

.store1 > div:nth-child(4) .case-img {
    background: url(/image/index/content-store/store1-04-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(4):hover .case-img {
    background: url(/image/index/content-store/store1-04-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(5) {
    position: relative;
}

.store1 > div:nth-child(5) > div:first-child {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 20%;
}

.store1 > div:nth-child(5) > div:first-child > p {
    padding: .5rem .5rem 0 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.store1 > div:nth-child(5) > .limied-btn {
    height: 2.5rem;
    width: 8.5rem;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #252525;
}

.store1 > div:nth-child(5) > .limied-btn a {
    color: #fff;
    display: block;
    width: 8.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: .75rem;
}

.store1 > div:nth-child(5) > .limied-btn:hover a {
    color: #252525;
    background-color: #fff;
    border: .05rem solid #252525;
}

.store1 > div:nth-child(6) .case-img {
    background: url(/image/index/content-store/store1-06-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(6):hover .case-img {
    background: url(/image/index/content-store/store1-06-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(7) div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.store1 > div:nth-child(7) p {
    padding-bottom: .5rem;
    -webkit-text-stroke: .075rem #777;
    color: transparent;
    font-size: 2rem;
    font-weight: 500;
}

.store1 > div:nth-child(8) .case-img {
    background: url(/image/index/content-store/store1-08-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(8):hover .case-img {
    background: url(/image/index/content-store/store1-08-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.store1 > div:nth-child(9) .case-img {
    background: url(/image/index/content-store/store1-09-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right 10%;
    background-repeat: no-repeat;
}

.store1 > div:nth-child(9):hover .case-img {
    background: url(/image/index/content-store/store1-09-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*store2*/

.store2 div:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2;
}

.store2 > div:nth-child(1) .case-img {
    background: url(/image/index/content-store/store2-01-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(1):hover .case-img {
    background: url(/image/index/content-store/store2-01-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(2) .case-img {
    background: url(/image/index/content-store/store2-02-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(2):hover .case-img {
    background: url(/image/index/content-store/store2-02-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(3) .text-between {
    font-size: .85rem;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 2.5rem;
    margin: 0 auto;

}

.store2 > div:nth-child(4) .case-img {
    background: url(/image/index/content-store/store2-04-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(4):hover .case-img {
    background: url(/image/index/content-store/store2-04-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(5) .case-img {
    background: url(/image/index/content-store/store2-05-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(5):hover .case-img {
    background: url(/image/index/content-store/store2-05-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(6) div {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store2 > div:nth-child(7) .case-img {
    background: url(/image/index/content-store/store2-08-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(7):hover .case-img {
    background: url(/image/index/content-store/store2-08-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(8) .case-img {
    background: url(/image/index/content-store/store2-09-00.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(8):hover .case-img {
    background: url(/image/index/content-store/store2-09-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store2 > div:nth-child(9) {
    position: relative;
}

.store2 > div:nth-child(9) > p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
    top: 5.75rem;
    right: -4rem;
    letter-spacing: .1rem;
    transform: rotate(90deg);
    line-height: 1.75rem;
}


/*promotion*/

.promotion {
    width: 95vw;
    height: 60vh;
    margin: 4rem auto 8rem;
    overflow: hidden;
    position: relative;
    padding: 0 0 2rem;
}

.promotion p:first-child {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.promo-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(33.3%, auto);
    grid-gap: 1rem;
    overflow: hidden;
    margin: 2rem auto;
}

.promo-case {
    height: 25rem;
}

.promo-case-img {
    width: 100%;
    height: 85%;
}

.promo-wrap > .promo-case:nth-child(1) .promo-case-img {
    background: url(/image/index/promotion/promotion-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.promo-wrap > .promo-case:nth-child(2) .promo-case-img {
    background: url(/image/index/promotion/promotion-02.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.promo-wrap > .promo-case:nth-child(3) .promo-case-img {
    background: url(/image/index/promotion/promotion-03.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.promo-case span {
    color: #797979;
    display: inline-block;
    font-size: .75rem;
    line-height: 1rem;
    margin-top: 1.25rem;
}

.promo-case p {
    color: #252525;
    display: block;
    font-size: .9rem;
    line-height: 1.75rem;
    font-weight: bold;
}


/*webake*/

.webake {
    width: 95vw;
    height: 70vh;
    margin: 8rem auto;
    overflow: hidden;
    position: relative;
    padding: 0 0 2rem;
}

.webake p:first-child {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.bake-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(33.3%, auto);
    grid-gap: 1rem;
    overflow: hidden;
    margin: 2rem auto;
}

.bake-case {
    height: 30rem;
}

.bake-case-img {
    width: 100%;
    height: 85%;
}

.bake-wrap > .bake-case:nth-child(1) .bake-case-img {
    background: url(/image/index/webake/webake-01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bake-wrap > .bake-case:nth-child(2) .bake-case-img {
    background: url(/image/index/webake/webake-02.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bake-wrap > .bake-case:nth-child(3) .bake-case-img {
    background: url(/image/index/webake/webake-03.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bake-wrap > .bake-case:nth-child(4) .bake-case-img {
    background: url(/image/index/webake/webake-04.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bake-case span {
    color: #797979;
    display: inline-block;
    font-size: .75rem;
    line-height: 1rem;
    margin-top: 1.25rem;
}

.bake-case p {
    color: #252525;
    display: block;
    font-size: .9rem;
    line-height: 1.75rem;
    font-weight: bold;
}


/*todaypick*/

.todaypick {
    width: 95vw;
    height: 70vh;
    margin: 8rem auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-gap: 1rem;
}

/*pick-top-wrap*/

.pick-top-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
}

.pick-top-wrap > .pick-top-title {
    display: grid;
    color: #252525;
}

.pick-top-wrap > .pick-top-title > p:first-child {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.25rem;
}

.pick-top-wrap > .pick-top-title > p:nth-child(2) {
    font-size: .85rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 9rem;
    font-weight: 800;
    color: #252525;
}

.pick-top-wrap > .pick-top-title > p:nth-child(2):hover {
    color: #797979;
}

.pick-top-wrap > .pick-top-title > p:nth-child(2) img {
    padding-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.pick-top-subtitle {
    display: grid;
    grid-template-columns: 1.5fr 2fr .5fr;
    margin: auto 0;
}

.pick-top-subtitle p {
    line-height: 1.25rem;
    font-size: .85rem;
    color: #252525;
    font-weight: bold;
}

.pick-top-subtitle p:last-child {
    display: flex;
    align-items: flex-end;
    font-size: 1.75rem;
    color: #252525;
}

.pick-top-subtitle span {
    display: inline-block;
    color: #393939;
    font-size: .65rem;
    line-height: 1rem;
    font-weight: 500;
    margin-top: .5rem;
}

.pick-center-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
}

.pick-bottom-case-video > div {
    padding-bottom: 56.25%;
    position: relative;
    max-width: 100%;
    height: 0;
    overflow: hidden;
}

.pick-bottom-case-video > div > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pick-bottom-case-img {
    background: url(/image/index/pick/pick-img-02.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 30% center;
    background-repeat: no-repeat;
}

.pick-bottom-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
    margin-top: 1.5rem;
}

.pick-bottom-text-01 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pick-bottom-text-01 p {
    font-size: .65rem;
    line-height: 1rem;
    color: #252525;
}

.pick-bottom-text-01 span {
    font-size: .85rem;
    font-weight: 800;
    line-height: 1.25rem;
}


.pick-bottom-text-02 {
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
}

.pick-bottom-text-02 p {
    font-size: .85rem;
    color: #252525;
    font-weight: bold;
    margin-right: 7rem;
}

.pick-bottom-text-02 a {
    color: #252525;
    font-size: .85rem;
    font-weight: bold;
    text-decoration: underline;
}

.pick-bottom-text-02 a:hover {
    color: #797979;
}


/*service*/

.service {
    width: 95vw;
    height: 25vh;
    margin: 8rem auto;
    display: flex;
    justify-content: flex-end;
    grid-gap: 8rem;
}

.service div {
    width: 21rem;
}

.service div:nth-child(2) {
    width: 19rem;
}

.service div p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2.5rem;
}


/*newsletter*/


.newsletter p {
    font-size: .65rem;
}

.newsletter p:nth-child(2) {
    padding-bottom: 1rem;
}

.newsletter p input {
    border: none;
    border-bottom: .05rem solid #777777;
    width: 95%;
    line-height: 1.65rem;
    outline: none;
}

.newsletter p input::placeholder {
    color: #b6b6b6;
    font-size: .75rem;
}

.name {
    padding-bottom: 1rem;
}

.email_check {
    font-size: .65rem;
    position: relative;
    width:18.5rem;
    display: block;
}

.email_check label {
    border-bottom: .05rem solid #555555;
    padding-bottom: .1rem;
    cursor: pointer;
    color: #555555;
}

.newsletter img {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/*notice*/

.notice ul li {
    font-size: .75rem;
    color: #999999;
    line-height: 1.5rem;
}

.notice ul li a {
    color: #555555;
    margin-left: 1.5rem;
    font-size: .75rem;
}

.notice ul li a:hover {
    text-decoration: underline;
}
